src/ru/rusal/rest/elements/XmlRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="request">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="request-type" type="xs:string" />
                <xs:element name="login" type="xs:string" />
                <xs:element name="password" type="xs:string" />
                <xs:element name="payment" type="xs:float" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>